textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
} 

.create-account{
    font-size: 3.8rem;
    background-image: linear-gradient(to right, rgb(21, 191, 197), rgb(6, 230, 163));
}