<div class="first-page">
    <div class="image-title">
        <img src="/assets/dentist.png" />
        <div [ngStyle]="{'font-size': '4rem', 'color': 'rgb(95, 95, 95)'}"><b>Find a dentist</b></div>
        <div [ngStyle]="{'font-size': '2rem', 'color': 'rgb(60, 60, 60)'}">Thousands of professionals in one app.</div>
    </div>
    <app-button-navigate text="Login" rota="/login" color="linear-gradient(to right, rgb(21, 191, 197), rgb(6, 230, 163))"></app-button-navigate>
    <p [ngStyle]="{'font-size': '2rem', 'color': 'rgb(60, 60, 60)', 'margin-bottom': '-20px'}">Don't have an account?</p>
    <app-button-navigate text="Sign Up" rota="/sign-up" color="rgb(134, 134, 134)"></app-button-navigate>
</div>