.first-page{
    height: 100vh;
    font-size: 3.8rem;
    text-align: center;
    
    .image-title{
        width: 300px; height: 380px;
        display: inline-block;
        margin-top: 150px;
    }

    img{
        width: 300px; height: 250px;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .bnt{
        width: 15%; height: 50px;
        min-width: 200px;
        text-align: center;
        border-radius: 30px;
        cursor: pointer;
        margin: 20px auto;
    }

    .login{
        margin-top: 30px;
        background-image: linear-gradient(to right, rgb(21, 191, 197) , rgb(6, 230, 163));
    }

    .sign-up{
        background-color: rgb(134, 134, 134);
    }

    @media(max-width: 1000px){
        img{ 
            width: 200px ; height: 170px ;
        }
    
        .image-title{
            width: 230px; height: 250px;
        }
    
        .bnt{
            line-height: 6.5rem;
        }
    }

}

