@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 62.5%;
}

body{
    margin: 0;
    user-select: none;
    text-align: center;
}

.bnt{
    color: white;
    width: 15%; height: 50px;
    min-width: 200px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    margin: 20px auto;
    font-size: 3.5rem;
}

.image-title{
    width: 300px; height: 380px;
    display: inline-block;
    margin-top: 150px;

    img{
        width: 300px; height: 250px;
        margin-left: 50%;
        transform: translateX(-50%);
    }

}

input{
    margin: 17px auto;
    border: solid 0;
    font-size: 16px;
    width: 400px;
    border-bottom: solid rgb(21, 191, 197) 2px;
}

@media(max-width: 1000px){
    html{
        font-size: 45% !important;
    }

    .bnt{
        line-height: 6.5rem;
    }

    .image-title{
        width: 230px; height: 250px;

        img{ 
            width: 200px ; height: 170px ;
        }
    }
}